html, body
  margin 0px
  padding 0px
  height 100%
  width 100%
  overflow hidden

div, ul, li, select, input
  box-sizing border-box

body, div, span
  -webkit-tap-highlight-color rgba(0,0,0,0)
  -webkit-user-select none

body, select
  font 11px "Avenir Next"
  color #414141

body, div, span
  tap-highlight-color rgba(0, 0, 0, 0)
  user-select none

input[type=text]
  border-width 1px
  border-radius 4px
  border 1px solid rgba(0, 0, 0, 0.18)
  font-size 12px
  cursor text
  box-shadow
    inset 0px 1px 2px rgba(0, 0, 0, 0.2),
    0px 1px 0px rgba(255, 255, 255, 0.3)
  outline none
  padding 6px 4px 6px 4px
  margin 1px 0px 0px 0px

input[type=text]:focus
  box-shadow:
    inset 0px 1px 2px rgba(0, 0, 0, 0.2),
    0px 1px 0px rgba(255, 255, 255, 0.3),
    0px 0px 3px rgba(130, 130, 255, 0.9);

  margin-bottom 2px

input[type="button"], button
  outline none
  border-width 1px
  border-radius 3px
  background #FFF
  color #808080
  border 1px solid #AAA

#_input
  margin 4px
  padding 4px

select
  height 22px

.squill-menu
  position absolute
  display none
  transition all 0.3s
  top 30px
  background #111
  border 1px solid #222
  z-index 100

  button
    background none
    display block
    width 100%
    text-align left
    padding 6px 10px 6px
    border none

  button:hover
  .squill-checkbox:hover
    background #222

  .squill-checkbox
    font-weight bold
    color button-fg
    padding 6px 10px 6px
