html, body
  padding 0
  margin 0
  width 100%
  height 100%
  overflow hidden
  font-family 'Helvetica Neue', Helvetica, sans-serif
  font-weight 200
  font-size 14px

div, ul, li, a, i, input, dt, dd
  box-sizing border-box

#main
  width 100%
  height 100%
  background #EEE
  color #444

.flex
  flex 1
  flex-shrink 0

.row
  display flex
  flex-direction row
  width 100%

.column
  display flex
  width 100%
  flex-direction column

.full-height
  position relative

  > *
    position absolute
    top 0
    bottom 0

.MainContainer
  align-items stretch
  height 100%

.FileTree
  border-right 1px solid #CCC
  width 250px
  flex-shrink 0
  overflow auto

.FileNode
  .label
    padding 8px 5px 5px
    height 35px

    .file-icon
      margin-right 5px

  .file-drop-target.file-drop-dragging-over-target
    > .label
      background #AAF
      color #FFF

      &::after
        content '\f063'
        font normal normal normal 14px/1 FontAwesome
        float right
        margin-right 3px
        margin-top 3px

.FolderViewer
  overflow auto
  padding 5px

.FilePreview
  width 202px
  height 250px
  margin-right 5px
  display inline-block

  .thumbnailWrapper
    padding 10px
    background white
    border 1px solid #CCC

  .thumbnail
    width 180px
    height 180px
    background-size contain
    background-position center
    background-repeat no-repeat

  label
    display block
    margin-top 5px
    text-align center
    text-overflow ellipsis
    overflow hidden

  &.small
    width 50px
    height 50px

    label
      display none

    .thumbnailWrapper
      padding 2px

      .thumbnail
        width 46px
        height 46px

.PathCrumbs
  border-bottom 1px solid #CCC

  .crumb
    display inline-block
    line-height 20px
    border-right 1px solid #CCC
    padding 5px 10px

.FileInspector
  border-left 1px solid #CCC
  padding 5px

.modal-overlay
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  background rgba(0, 0, 0, 0.4)
  display flex
  align-items center
  justify-content center

  .modal
    display inline-block
    background white
    border-radius 5px
    min-width 400px
    max-height 80%

    .title
      background #AAF
      color #FFF
      font-weight normal
      padding-left 20px
      border-radius 5px 5px 0px 0px
      line-height 40px

      .fa
        line-height 40px
        height 100%
        width 45px
        padding-left 20px

    .footer
      text-align right
      padding 5px

.UploadModal
  overflow hidden

  .contents
    .description
      padding 15px 20px
      background #EEE
      border-bottom 1px solid #CCC

    .FileList
      overflow auto
      max-height 430px

    .FileLineItem
      padding 3px 20px 3px 3px
      align-items center

      &.skip
        label
          opacity 0.5

        i
          color #C22

      .warning
        color #C22

      .message
        font-size smaller

      button
        margin-right 5px
        visibility hidden

      &:hover
        button
          visibility visible


  .footer
    position relative
    z-index 2
    background #AAF
    border-radius 0px 0px 5px 5px
    box-shadow 0px -1px 2px rgba(0, 0, 0, 0.4)
