@import "nib"

// @import "includes/ui"
// @import "includes/base"

// if theme is "light"
//   @import "includes/light"
// else
//   @import "includes/dark"

remote-bg-color = #252f3b
remote-color = #A3ABB3
remote-link-color = #2c6cd7

device-name-color = #e1e7ed

remote-btn-color = #CBD0D6
remote-btn-bgcolor-hover = #313D4C
remote-btn-disabled-bgcolor = #384350
remote-btn-disabled-color = #82868C


html, body
  margin 0px
  padding 0px
  height 100%
  background remote-bg-color
  font-family "Avenir Next", "Segoe UI", Helvetica, Arial, sans-serif


pixelated()
  image-rendering optimizeSpeed             /* Legal fallback */
  image-rendering -moz-crisp-edges          /* Firefox        */
  image-rendering -o-crisp-edges            /* Opera          */
  image-rendering -webkit-optimize-contrast /* Safari         */
  image-rendering optimize-contrast         /* CSS3 Proposed  */
  image-rendering crisp-edges               /* CSS4 Proposed  */
  image-rendering pixelated                 /* CSS4 Proposed  */
  -ms-interpolation-mode nearest-neighbor   /* IE8+           */


center()
  position absolute
  left 50%
  top 50%
  transform translate(-50%, -50%)
  text-align center


.bold
    font-weight 500


////////////////////////

#main
  height 100%
  color remote-color


.cmpt-page-info, .cmpt-page-connect
  height 100%
  width 100%
  background-color remote-bg-color
  display flex
  align-items center
  flex-direction column
  position relative
  font-size 20px

  a
    text-decoration none
    color remote-link-color

  button
    cursor pointer

  .header
    font-size 30px
    font-weight 300
    margin-bottom 15px
    text-align center

.cmpt-page-connect
  .cmpt-instructions
    position relative
    display flex
    flex-direction column
    align-items center

    .instructions
      font-size 18px
      font-weight 300
      margin-top 20px

    .qrcode
      padding 20px
      background-color #fff

      .qr
        img
          pixelated()

    .instructions
      text-align left


.cmpt-run-target-info
  display flex
  flex-direction column
  align-items center

  border 1px solid
  border-radius 4px
  padding 20px
  min-width 300px
  min-height 500px

  p
    margin 20px 0

  .loading-content
    flex 1
    display flex
    flex-direction column
    justify-content center
    align-items center

  .content
    display flex
    flex-direction column
    align-items center

  .device
    position relative
    .device-image
      width 125px
    .dimensions
      center()

  .btn
    display block
    box-sizing border-box
    background-color remote-bg-color
    color remote-btn-color
    padding 12px 40px
    margin 20px
    border 1px solid remote-btn-color
    border-radius 40px
    cursor pointer
    font-weight 400
    font-size 18px
    width 225px
    transition background-color 0.1s
    user-select none

    &[disabled]
      background-color remote-btn-disabled-bgcolor
      color remote-btn-disabled-color
      cursor default

    &:not([disabled]):hover
      background-color remote-btn-bgcolor-hover

  .error-message
    color #FF9090

  .uuid
    font-style italic
    font-size 12px
    margin 0

  .name
    margin-bottom 0

.spinnerContainer
  position absolute
  top 0px
  left 0px
  width 100%
  height 100%
  z-index 100
  transition opacity 0.25s
  opacity 1
  background rgba(0, 0, 0, 0.6)

  display flex
  justify-content center
  align-items center
  flex-direction column

  p
    background-color rgba(0,0,0,0.75)
    padding 5px 10px

  .spinner
    width 40px
    height 40px
    pointer-events none
    background url(/icons/spinner.png)
    background-size 40px 40px
    background-repeat no-repeat
    animation spin 0.5s linear infinite

  &:not(.visible)
    opacity 0
    pointer-events none
    .spinner
      animation none

.cmpt-connection-lost
  background rgba(40, 0, 0, 0.7)


@keyframes spin
  100%
    transform rotate(360deg)
