#giftPanel .giftEditor {
	background: rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin: 10px;
	position: relative;
	min-height: 100px;
	width: 250px;
	float: left;
	padding: 10px;
	border-radius: 5px
}

#giftPanel .giftEditor input, #giftPanel .giftEditor textarea {
	font-size: 14px;
	padding: 5px;
	width: 220px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 

	background: #eee;
	color: #222;
}

#giftPanel .giftEditor textarea {
	height: 70px;
}

#giftPanel .giftEditor button {
	float: right;
}

#giftPanel .giftEditor #label {
	font-size: 14px;
	width: 220px;
	padding: 5px;
	font-family: monospace;
	font-weight: bold;
}

#newGift {
	margin: 10px 0 0 10px;
	padding: 10px 20px;
}