#launchBtn {
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 5;
}

.lnchClientList {
}

.lnchEditorOptions {
	float: left;
	width: 100%;
	margin-bottom: 4px;
	padding-left: 232px;
}
.lnchEditorOptions #numClientsChooser {
	float: left;
}
.lnchEditorOptions #lnchHasServer {
	float: left;
	width: 150px;
	margin: 0;
	margin-left: 20px;
	margin-top: 4px;
	color: #444;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}

.lnchClientEditor {
	border-radius: 3px;
	box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3), inset 0 1px 3px rgba(255, 255, 255, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.5);
	background: linear-gradient(270deg, #999, #777);
	background: -webkit-linear-gradient(270deg, #999, #777);
	background: -moz-linear-gradient(270deg, #999, #777);
	display: inline-block;
}
.lnchClientEditor input {
	box-shadow: none;
	background: transparent;
	border: none;
	display: block;
	width: 100%;
	padding: 4px;
	font: 12px Tahoma;
	color: #FFFFFF;
	text-align: center;
	cursor: pointer;
}
.lnchClientEditor input:focus {
	cursor: text;
	background: rgba(255, 255, 255, 0.2);
	border: 2px solid #AAF;
	padding: 2px;
}
.lnchClientEditor .entryInput {
	clear: both;
	margin-bottom: 4px;
	margin-left: 16px;
}

.lnchClientEditor .resolutionPicker {
	position: relative;
	white-space: nowrap;
	height: 116px;
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	color: #FFF;
	overflow-y: hidden;
	overflow-x: auto;
	padding: 5px;
}
.lnchClientEditor .resolutionChoice {
	padding: 7px 2px;
	display: inline-block;
	width: 70px;
	font: bold 10px Tahoma;
	text-align: center;
	cursor: pointer;
	overflow: hidden;
	border-radius: 5px;
}

.lnchClientEditor .resolutionChoice .content {
	background: rgba(255,255,255,0.3);
	border: 1px solid #000000;
	border-width: 0 0 1px 0;
	border-radius: 3px 3px 0px 0px;
}
.lnchClientEditor .resolutionChoice .overview {
	background: #404040;
	opacity: 0.5;
	border: 1px solid #808080;
	border-width: 1px 0 0 0;
	padding: 8px 0 8px 0;
	border-radius: 0px 0px 3px 3px;
}
.lnchClientEditor .resolutionChoice .content:hover {
	background: rgba(255,255,255,0.5);
}

.lnchClientEditor .resolutionChoice.selected .content,
.lnchClientEditor .resolutionChoice.selected .content:hover {
	background: rgba(255,255,255,0.9);
}

.lnchClientEditor .selected .overview {
	opacity: 1;
}
.lnchClientEditor .resolutionImg {
	display: block;
	height: 50px;
}
