@import "nib"

@import "includes/base"
@import "includes/ui"

body
  font-size 14px

title()
  font-size 18px

subtitle()
  font-size 10px
  color #808080

#leftPane
#rightPane
  absoluteBox(,50%)
  display flex
  flex-direction column
  justify-content center
  background #FFF

#leftPane
  align-items center

#rightPane
  absoluteBox(,,,50%)
  padding-left 5%
  padding-right 40px

#separator
  absoluteBox(40px, 50%, 40px, auto)
  width 1px
  background linear-gradient(180deg,
      rgba(0, 0, 26, 0) 0%,
      rgba(0, 0, 26, 0.15) 20%,
      rgba(0, 0, 26, 0.15) 80%,
      rgba(0, 0, 26, 0) 100%)

#logo
  width 68px
  height 54px
  margin-top 40px
  background url('/icons/logo.png')
  opacity 0.1

.actionCell
  padding 30px
  min-height 50px
  white-space nowrap

  #title
    margin-top 10px

  #icon
    width 40px
    height 40px
    background center no-repeat
    float left
    margin-right 10px


/*** Panel containing the content of the plugin ***/
.mainPanel
  absoluteBox()
  background bglight()
  border-top 1px solid rgba(255, 255, 255, 0.3)

div#ip
  z-index 5
  overflow hidden
  text-align center
  padding 7px 7px 2px 7px
  margin-bottom 20px
  cursor pointer

  color #808080
  padding 5px 7px 2px 7px

  &:before
    glyphicon('refresh')

    margin-right 10px
    top 3px
    opacity 0
    transition opacity 0.3s

  &:hover:before
    opacity 1

  &.reloading:before
    opacity 1
    transition all 1s linear
    transform rotate(360deg)

#appInspector
  margin-top 50px
  flex 1
  overflow auto

  > #title
    title()
    margin 10px 0px 20px

  > button
    float right
    padding 5px 10px
    cursor pointer

    border none

    &:after
      glyphicon(arrow-right)

      transition all 0.1s
      font-size 10px
      background #DDD
      width 15px
      height 13px
      border-radius 13px
      border 5px solid white
      padding-top 2px
      color #FFF

    &:hover
      color #444
      &:after
        background #CCC

    &:active
      color #000
      &:after
        background #808080

  #dependenciesTitle
    border-bottom 1px solid rgba(0, 0, 26, 0.15)
    margin-bottom 10px
    width 100%

  #dependenciesList
    flex 1
    width 100%
    padding-bottom 50px

    .moduleCell
      position absolute
      padding-bottom 10px
      #title
        color #808080

        #_labelSpan
          padding-left 10px

        &:before
          glyphicon('folder-open')
          color #808080

      &.primary #title
        color #444

      #edit
        opacity 0
        transition all 0.2s
        margin-left 15px

        &:before
          glyphicon('cog')

      &:hover #edit
        opacity 1

      #version
        subtitle()
        margin-left 5px

      #subtitle
        subtitle()
        margin-top -2px
        margin-left 22px

#appList
  position relative
  overflow auto
  padding 40px 0px 0px 120px
  width 100%
  flex 1

.appCell
  position absolute
  height 80px
  left 0
  right 0
  padding 10px 10px 20px 90px
  border-radius 10px
  border-top 1px solid rgba(0, 0, 0, 0)
  border-bottom 1px solid rgba(0, 0, 0, 0)

  .appIcon
    position absolute
    left 10px
    top 0

    &.noIcon
      background #EEE
      border 2px solid #CCC

  .appPath
    subtitle()
    white-space nowrap
    text-overflow ellipsis

    #open
      border none
      background none
      outline none
      cursor pointer

      position relative
      margin-left 5px

      &:after
        glyphicon(arrow-right)

        position absolute
        opacity 0
        transition all 0.3s
        font-size: 10px;
        top: -13px;
        left: -3px;
        background: #DDD;
        width: 15px;
        height: 13px;
        border-radius: 13px;
        border: 5px solid white;
        padding-top: 2px;
        color: #FFF

      &:hover:after
        background #AAA

      &:active:after
        background #888

    &:hover #open:after
      opacity 1

  &:hover:not(.selected)
    cursor pointer
    text-shadow 0px 1px 5px rgba(255, 255, 255, 0.5)
