@import "nib"

@import "includes/ui"
@import "includes/base"

if theme is "light"
  @import "includes/light"
else
  @import "includes/dark"

@import "includes/inspector"

@keyframes tooltipAnimateIn
  0%
    transform translateY(-50%)
    opacity 0
  50%
    transform: translateY(-50%)
    opacity 0
  100%
    transform: translateY(0%)
    opacity 1

@keyframes menuAnimateIn
  0%
    opacity 0
  100%
    opacity 1

// ----- layout

#devkit
  display flex
  align-items stretch
  flex-direction column
  height 100%
  width 100%
  overflow hidden

  > #header
    position relative
    z-index 999000

  > #middle
    position relative
    flex 1
    display flex
    flex-direction row
    align-items stretch

    #mainContainer
      flex 1
      position relative

      #logger
        position absolute
        background rgba(color-panel, 0.87)
        bottom 0px
        width 100%
        height 25px
        overflow hidden

        transition height 0.5s
        z-index 500
        display flex
        flex-direction column

        border-top 1px solid color-border

        &.expanded
          height 40%

        #header
          padding 5px 10px
          display flex
          cursor pointer

          #title
            title()
            flex 1

        #contents
          overflow auto
          flex 1

          > div
            padding 1px 5px

            &:nth-child(odd)
              background #222

          .time
            float right


          // .squill-label

#devkit
  #myIP
    position absolute
    top 5px
    right 4px
    font normal 10px monospace
    color #AAA
    overflow hidden
    text-align right
    padding 4px 8px 6px

  .Pane > #_container > div:last-child
    flex 1 // last item should fill remainder of pane by default

.module-frame
  position absolute
  top -10000px
  left -10000px
  width 1px
  height 1px
  opacity 0
  visibility false
  pointer-events none

.simulator
  background-repeat no-repeat

  #contents
    position absolute
    z-index 400
    transition all 0.5s ease-out
    transform-origin 50% 50%
    box-sizing content-box

    #frameWrapper
      position relative
      background black

    #frame
      width 100%
      height 100%
      border none
      // pointer-events auto !important

  #toolbar
    position absolute
    top -30px
    left 0
    right 0
    opacity 1
    backface-visibility hidden
    text-align center
    z-index 1000

    &.hidden
      opacity 0 !important
      pointer-events none

    &.transition
      transition-property opacity

    #buttonContainer
      position relative
      display inline-block
      white-space nowrap
      margin -10px auto 0px
      border-radius 5px
      padding 0px 1px
      background color-background - rgba(0, 0, 0, 0.2)

      > button
        position relative
        outline none
        display inline-block
        border-radius 0px
        border none
        color simulator-button-fg
        padding 6px 10px 4px
        margin 2px 0px 3px
        line-height 16px
        cursor pointer
        transition all 0.3s
        background transparent

      > button i
        margin-top -1px

      > button:hover
        color #FFF
        // background linear-gradient(bottom, rgba(80, 80, 80, 0.3), rgba(110, 110, 110, 0.3))

      > button:active
        top 1px
        // background rgba(80, 80, 80, 0.2);

      > button.disabled i:after
        position absolute
        top -6px
        left 5px
        width 1px
        height 24px
        content ""
        transform rotate(38deg)
        background #FFF

    button.withTooltip:hover:before
      position absolute
      top 30px
      left 0px
      padding 6px 8px 5px
      content attr(tooltip)
      background #000
      border-radius 5px
      white-space nowrap
      animation tooltipAnimateIn
      animation-duration 0.6s

    button.withTooltip:hover:after
      position absolute
      top 19px
      left 5px

      width 0
      height 0
      content ""

      border-width 7px
      border-style solid
      border-color transparent transparent #000 transparent

      animation tooltipAnimateIn
      animation-duration 0.6s

    .squill-menu
      transition 0.5s all
      animation menuAnimateIn
      animation-duration 0.3s

    .list
      z-index 1

      position absolute
      top 30px
      right 0
      padding 5px
      display none

      overflow-y hidden
      overflow-x auto

      #container
        display flex
        flex-flow row wrap
        justify-content center

    .list.active
      display flex
      opacity 1
      top 32px

  #background
    position absolute
    z-index -1
    width 100%
    height 100%
    -webkit-filter drop-shadow(20px 20px 25px rgba(0,0,0,0.5))

  &.resize #background
    -webkit-filter none

  #resizeHandle
    position absolute
    width 40px
    height 40px
    cursor se-resize
    bottom -40px
    right -40px

  #splashImage
    position absolute
    top 0px
    left 0px
    pointer-events none
    display none
    width 100%
    height 100%
    background-size cover
    background-position center

    opacity 0
    transition opacity 0.5s

  #mainPage
    position absolute
    top 0px
    right 0px
    width 100%
    height 100%

  #build-spinner
    position absolute
    top 0px
    left 0px
    width 100%
    height 100%
    opacity 0
    transition all 0.5s
    background rgba(0, 0, 0, 0.8)

    display flex
    align-items center
    justify-content center

    #spinner
      transition all 0.5s
      width 40px
      height 40px
      opacity 0
      pointer-events none
      background url(/icons/spinner.png)
      background-size 40px 40px
      background-repeat no-repeat

  &.building
    #build-spinner
      opacity 1

      #spinner
        opacity 1
        animation spin 0.5s linear infinite

@keyframes spin
  100%
    transform rotate(360deg)

.no-transitions
  transition none

.transition
  transition all 0.3s

.simulator.no-transitions
  #frame,
  #frameWrapper,
  #contents
    transition none !important
    pointer-events none !important

// device dialiog

#deviceDialog
  top 20px
  max-width 500px
  max-height 600px

  #_header
    .squill-label
      display inline-block


  #deviceList
    display flex
    flex-wrap wrap
    align-contents flex-start

  .device
    display flex
    flex-direction column
    justify-content flex-end
    align-items center

    min-width 100px
    height 100px
    overflow hidden

    padding 5px
    border-radius 2px

  .device:hover
    background #333

  .device #previewBg
    background-size contain
    background-repeat none
    margin-bottom 5px
    flex-shrink 0

  .device #preview
    background-size cover
    background-position 50% 50%
    border-radius 1px
    display flex
    flex-direction column
    justify-content center
    align-items center

  .device #resolution
    font 9px Helvetica
