html, body
	overflow hidden
	margin 0px
	padding 0px
	width 100%
	height 100%

body
	font-family Helvetica, Tahoma
	background #08080F
	color #FFF

div
	box-sizing border-box

body, div, span
	tap-highlight-color rgba(0, 0, 0, 0)
	user-select none

@import "inspector.styl"
@import "timemachine.styl"

// scrollbar styles

div::-webkit-scrollbar
	width 12px

div::-webkit-scrollbar-track 
	-webkit-box-shadow inset 0 0 6px rgba(0,0,0,0.3)
	box-shadow inset 0 0 6px rgba(0,0,0,0.3)
	-webkit-border-radius 10px
	border-radius 10px

div::-webkit-scrollbar-thumb 
	margin 1px
	-webkit-border-radius 10px
	border-radius 10px
	background rgba(100,100,100,0.8)
	-webkit-box-shadow inset 0 0 6px rgba(0,0,0,0.5)
	box-shadow inset 0 0 6px rgba(0,0,0,0.5)

div::-webkit-scrollbar-thumb:window-inactive 
	background rgba(30,30,30,0.4)

div::-webkit-scrollbar-corner 
	background rgba(30,30,30,0.4)

// main UI

#_content .button {
	float: left;
	border-radius: 5px;-moz-border-radius: 5px;
	background: -moz-linear-gradient(270deg, rgba(255, 255, 255, 0.3), rgba(100, 100, 100, 0.3) 50%, rgba(0, 0, 0, 0.3) 51%, rgba(0, 0, 0, 0.2));background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), color-stop(0.50, rgba(100, 100, 100, 0.3)), color-stop(0.51, rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.2)));
	border: 1px solid rgba(0, 0, 0, 0.7);
	color: #FFF;
	font: bold 13px Helvetica;
	padding: 5px 8px;
	margin: 2px 2px 3px 2px;
	cursor: default;
}

#_content .button:active {
	background: -moz-linear-gradient(270deg, rgba(50, 50, 50, 0.2), rgba(50, 50, 50, 0.3) 50%, rgba(80, 80, 80, 0.3) 51%, rgba(110, 110, 110, 0.3));background: -webkit-gradient(linear, left top, left bottom, from(rgba(50, 50, 50, 0.2)), color-stop(0.50, rgba(50, 50, 50, 0.3)), color-stop(0.51, rgba(80, 80, 80, 0.3)), to(rgba(110, 110, 110, 0.3)));
	border: 1px solid rgba(0, 0, 0, 0.7);
	margin: 3px 2px 2px 2px;
	cursor: default;
}

#_content #_frameWrapper {
	position: relative;
	background: black;
}

#_content #_frame {
	width: 100%;
	height: 100%;
	border: none;
}

#_content #_background {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
}

#_content .frameChrome {
	position: absolute;
	background-repeat: no-repeat;
	z-index: 400;
	-webkit-transition: all 1s;
}

#_content #_frameWrapper,
#_content #_frame {
	-webkit-transition: all 1s;
}

#_content .frameChrome.no-transitions {
	-webkit-transition: none;
}

#_content .frameChrome.no-transitions #_frame,
#_content .frameChrome.no-transitions #_frameWrapper {
	-webkit-transition: none;
	pointer-events: none;
}

#_content #_resizeHandle {
	position: absolute;
	width: 40px;
	height: 40px;
	cursor: se-resize;
	bottom: -40px;
	right: -40px;
}

#_content #_loadingImg {
	position: absolute;
	top: 0px;
	left: 0px;
	pointer-events: none;
	display: none;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;

	opacity: 0;
	-webkit-transition: opacity 0.5s;
}

#_deepTrace {
	min-width: 200px;
	position: absolute;
	border: 1px solid #CCC;
	background: #EEE;
	color: #111;
	font-size: 13px;
	border-radius: 5px;
	box-shadow: 1px 1px 5px 1px #333;
	z-index: 1000;
	opacity: 0.8;

	display: none;
}

#_deepTrace div {
	padding: 5px 8px;
	cursor: pointer;
}

#_deepTrace div.active {
	font-weight: bold;
}

#_deepTrace div.active:before {
	content: "✗ ";
	color: red;
}

#_deepTrace div:hover {
	background: rgba(80, 80, 200, 0.3)
}

#mainPage {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
}

.sdkTab {
	position: relative;
	background: #442;
	background: -moz-linear-gradient(90deg, #332, #442);background: -webkit-gradient(linear, left bottom, left top, from(#332), to(#442));
	border: 1px solid #554;
	margin: 0px 0px -1px 3px;
	-moz-border-radius: 5px 0px 0px 5px;
	border-radius: 5px 0px 0px 5px;-moz-border-radius: 5px 0px 0px 5px;
	border-right-width: 0px;
	padding: 2px 0px 2px 5px;
	cursor: pointer;
	z-index: 1;
	-moz-box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.2);-webkit-box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.2);
}

.sdkTab:hover {
	background: #664;
	background: -moz-linear-gradient(90deg, #442, #775);background: -webkit-gradient(linear, left bottom, left top, from(#442), to(#775));
	color: #FFF;
	border-color: #887;
	z-index: 20;
	-moz-box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.2);-webkit-box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.2);
}

.sdkTab:active {
	background: #111;
	background: -moz-linear-gradient(90deg, #111, #000);background: -webkit-gradient(linear, left bottom, left top, from(#111), to(#000));
	padding-top: 3px;
	padding-bottom: 1px;
}

#_tabs select {
	color: #EEA;
	position: relative;
	z-index: 30;
	background: #442;
	border: 1px solid #554;
}

.sdkTab .status {
	float: right;
	margin-right: 3px;
	font-size: 10px;
	color: #FFF;
}

.sdkTab.selected {
	z-index: 10;
	border-color: #88C;
	color: #EEF;
	background: #448;
	background: -moz-linear-gradient(90deg, #448, #77A);background: -webkit-gradient(linear, left bottom, left top, from(#448), to(#77A));
}

.topBar {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	background: -moz-linear-gradient(90deg, rgba(60, 60, 60, 0.5), rgba(100, 100, 100, 0.5));background: -webkit-gradient(linear, left bottom, left top, from(rgba(60, 60, 60, 0.5)), to(rgba(100, 100, 100, 0.5)));
	border-bottom: 2px solid black;
	-moz-box-shadow: 0px 0px 5px #000;-webkit-box-shadow: 0px 0px 5px #000;
	z-index: 1000;
}

.topBar .myIP {
	position: absolute;
	top: 5px;
	right: 5px;
	font: bold 10px Monaco;
	color: #232;
	overflow: hidden;
	text-align: right;
	-moz-box-shadow: inset 1px 1px 1px #444;-webkit-box-shadow: inset 1px 1px 1px #444;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	padding: 5px 7px 2px 7px;
	border-radius: 4px;-moz-border-radius: 4px;
	background: -moz-linear-gradient(90deg, #AAA, #C2C2C0);background: -webkit-gradient(linear, left bottom, left top, from(#AAA), to(#C2C2C0));
}

.sdkButton {
	float: right;
	position: relative;
	top: 3px;
	cursor: pointer;
	z-index: 30;
	border: 1px solid #223;
	background: #444;
	background: -moz-linear-gradient(90deg, #444, #666);background: -webkit-gradient(linear, left bottom, left top, from(#444), to(#666));
	padding: 1px 2px 0px 2px;
	min-width: 17px;
	text-align: center;
	border-radius: 5px;-moz-border-radius: 5px;
	-moz-border-radius: 5px;
	font-size: 12px;
	margin-right: 2px;
	color: #000;
}

.sdkButton:hover {
	background: #555;
	background: -moz-linear-gradient(90deg, #555, #777);background: -webkit-gradient(linear, left bottom, left top, from(#555), to(#777));
	border-color: #CCF;
	color: #CCF;
}

.closeButton {
	background-color: red;
	background: -moz-linear-gradient(90deg, #555, #777);background: -webkit-gradient(linear, left bottom, left top, from(#555), to(#777));
	border-radius: 5px;-moz-border-radius: 5px;
	float: right;
}