html, body
	overflow hidden
	margin 0px
	padding 0px
	width 100%
	height 100%

body
	font-family Helvetica, Tahoma
	background #08080F
	color #AAA

div, select, input
	box-sizing border-box

body, div, span
	tap-highlight-color rgba(0, 0, 0, 0)
	user-select none

@import "inspector.styl"
@import "timemachine.styl"
@import "icons.styl"

// scrollbar styles

// div::-webkit-scrollbar
// 	width 12px

// div::-webkit-scrollbar-track
// 	-webkit-box-shadow inset 0 0 6px rgba(0,0,0,0.3)
// 	box-shadow inset 0 0 6px rgba(0,0,0,0.3)
// 	-webkit-border-radius 10px
// 	border-radius 10px

// div::-webkit-scrollbar-thumb
// 	margin 1px
// 	-webkit-border-radius 10px
// 	border-radius 10px
// 	background rgba(100,100,100,0.8)
// 	-webkit-box-shadow inset 0 0 6px rgba(0,0,0,0.5)
// 	box-shadow inset 0 0 6px rgba(0,0,0,0.5)

// div::-webkit-scrollbar-thumb:window-inactive
// 	background rgba(30,30,30,0.4)

// div::-webkit-scrollbar-corner
// 	background rgba(30,30,30,0.4)

// main UI

#mainUI
	display flex
	flex-direction column
	height 100%
	width 100%
	overflow hidden

#_content
	position relative
	width 100%
	overflow hidden
	flex 1
	display flex
	flex-direction row

#_top
	position relative
	z-index 999000
	transition all 0.3s ease-out

#_autoHideArea
	position fixed
	top 0px
	left 0px
	right 0px
	height 100px
	z-index 2

#_top.autoHide
	top -50px
	opacity 0

#_top.autoHide.show, #_top:hover
	opacity 1
	top 0

#_top, #_top .button
	font bold 11px Helvetica

#_top .button:hover:before
	position absolute
	top 30px
	left 0px
	padding 6px 8px 5px
	content attr(tooltip)
	background #666
	border-radius 5px

#_top .button:hover:after
	position absolute
	top 17px
	left 5px

	width 0
	height 0
	content ""

	border-width 7px
	border-style solid
	border-color transparent transparent #666 transparent

#_top #_buttonContainer
	position relative
	white-space nowrap
	background #222
	z-index 10

#_top .list
	z-index 1

	position absolute
	top -32px
	left 0px
	right 0px

	display flex
	flex-direction row

	white-space nowrap
	overflow-y hidden
	overflow-x auto

	border-bottom 1px solid #333
	background rgba(20, 20, 20, 0.95)
	box-shadow 0px 5px 20px rgba(0,0,0,0.7);
	opacity 0
	display none
	transition 0.5s all

	pointer-events none

	padding 5px

#_top .list.active
	display flex
	opacity 1
	top 32px
	pointer-events auto

#_top .list .device
	display flex
	flex-direction column
	justify-content flex-end
	align-items center

	min-width 100px
	height 100px
	overflow hidden

	padding 5px
	border-radius 10px
	cursor pointer

#_top .list .device:hover
	background #444

#_top .list .device #previewBg
	background-size contain
	background-repeat none
	margin-bottom 5px
	flex-shrink 0

#_top .list .device #preview
	background-size cover
	background-position: 50% 50%
	border-radius 1px
	display flex
	flex-direction column
	justify-content center
	align-items center

#_top .list .device #resolution
	font: 9px Helvetica

#_top #_myIP
	position absolute
	top 5px
	right 4px
	font normal 10px monospace
	color #AAA
	overflow hidden
	text-align right
	padding 4px 8px 6px

#_top .button
	position relative
	outline none
	display inline-block
	border-radius 3px
	background #555
	border 1px solid rgba(0, 0, 0, 0.7)
	color #FFF
	padding 6px 8px 4px
	margin 2px 1px 3px 1px
	line-height 16px
	cursor default

#_top .button i
	margin-top -1px

#_top .button:active
	top: 1px
	background linear-gradient(top, rgba(50, 50, 50, 0.2), 50% rgba(50, 50, 50, 0.3), 51% rgba(80, 80, 80, 0.3), rgba(110, 110, 110, 0.3))
	border 1px solid rgba(0, 0, 0, 0.7)

#_top .button.disabled i:after {
	position: absolute;
	top: 1px;
	width: 1px;
	height: 24px;
	content: "";
	left: 15px;
	-webkit-transform: rotate(38deg);
	background: #FFF;
}

#_middle
	flex 1
	display flex
	flex-direction row

.Pane > #_container > div:last-child
	flex 1 // last item should fill remainder of pane by default

#_content
	flex 1

#_content #_frameWrapper {
	position: relative;
	background: black;
}

#_content #_frame {
	width: 100%;
	height: 100%;
	border: none;
}

#_content #_background {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
}

#_content .frameChrome {
	position: absolute;
	background-repeat: no-repeat;
	z-index: 400;
	-webkit-transition: all 1s;
}

#_content .frameChrome.onViewportChange {
	-webkit-transition: none;
}

#_content #_frameWrapper,
#_content #_frame {
	-webkit-transition: all 1s;
}

#_content .frameChrome.no-transitions {
	-webkit-transition: none;
}

#_content .frameChrome.no-transitions #_frame,
#_content .frameChrome.no-transitions #_frameWrapper {
	-webkit-transition: none;
	pointer-events: none;
}

#_content #_resizeHandle {
	position: absolute;
	width: 40px;
	height: 40px;
	cursor: se-resize;
	bottom: -40px;
	right: -40px;
}

#_content #_loadingImg {
	position: absolute;
	top: 0px;
	left: 0px;
	pointer-events: none;
	display: none;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;

	opacity: 0;
	-webkit-transition: opacity 0.5s;
}

#_deepTrace {
	min-width: 200px;
	position: absolute;
	border: 1px solid #CCC;
	background: #EEE;
	color: #111;
	font-size: 13px;
	border-radius: 5px;
	box-shadow: 1px 1px 5px 1px #333;
	z-index: 1000;
	opacity: 0.8;

	display: none;
}

#_deepTrace div {
	padding: 5px 8px;
	cursor: pointer;
}

#_deepTrace div.active {
	font-weight: bold;
}

#_deepTrace div.active:before {
	content: "✗ ";
	color: red;
}

#_deepTrace div:hover {
	background: rgba(80, 80, 200, 0.3)
}

#mainPage {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
}

label.squill-select
	position relative
	margin 2px 3px 2px 0px

label.squill-select:after
	content "\e114"

	position absolute
	right 7px
	top 5px

	font-family: 'Glyphicons Halflings';
	pointer-events none

select
	margin 0px
	max-width 100%
	outline none
	border 1px solid #555
	background-color rgba(255, 255, 255, 0.3)
	color #AAA
	-webkit-appearance: none;
	padding 3px 20px 3px 5px


input[type='checkbox']
	display:none;

input[type="checkbox"] + #label:before

	border: 1px solid #555
	border-radius: 3px
	display inline-block
	width 14px
	height 14px
	margin -1px 4px 2px 3px
	vertical-align middle
	content ""
	cursor pointer

input[type="checkbox"]:checked + #label:before
	background url("images/glyphicons-halflings-white.png") center center no-repeat
	background-position: -288px 0;

input[type="button"], button
	background #333
	border 1px solid #555
	border-radius 3px
	color #AAA

input[type="text"]
	background #001
	border 1px solid #555
	border-radius 3px
	color #AAA

.sdkTab {
	position: relative;
	background: #442;
	background: -moz-linear-gradient(90deg, #332, #442);background: -webkit-gradient(linear, left bottom, left top, from(#332), to(#442));
	border: 1px solid #554;
	margin: 0px 0px -1px 3px;
	-moz-border-radius: 5px 0px 0px 5px;
	border-radius: 5px 0px 0px 5px;-moz-border-radius: 5px 0px 0px 5px;
	border-right-width: 0px;
	padding: 2px 0px 2px 5px;
	cursor: pointer;
	z-index: 1;
	-moz-box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.2);-webkit-box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.2);
}

.sdkTab:hover {
	background: #664;
	background: -moz-linear-gradient(90deg, #442, #775);background: -webkit-gradient(linear, left bottom, left top, from(#442), to(#775));
	color: #FFF;
	border-color: #887;
	z-index: 20;
	-moz-box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.2);-webkit-box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.2);
}

.sdkTab:active {
	background: #111;
	background: -moz-linear-gradient(90deg, #111, #000);background: -webkit-gradient(linear, left bottom, left top, from(#111), to(#000));
	padding-top: 3px;
	padding-bottom: 1px;
}

#_tabs select {
	color: #EEA;
	position: relative;
	z-index: 30;
	background: #442;
	border: 1px solid #554;
}

.sdkTab .status {
	float: right;
	margin-right: 3px;
	font-size: 10px;
	color: #FFF;
}

.sdkTab.selected {
	z-index: 10;
	border-color: #88C;
	color: #EEF;
	background: #448;
	background: -moz-linear-gradient(90deg, #448, #77A);background: -webkit-gradient(linear, left bottom, left top, from(#448), to(#77A));
}

.sdkButton {
	float: right;
	position: relative;
	top: 3px;
	cursor: pointer;
	z-index: 30;
	border: 1px solid #223;
	background: #444;
	background: -moz-linear-gradient(90deg, #444, #666);background: -webkit-gradient(linear, left bottom, left top, from(#444), to(#666));
	padding: 1px 2px 0px 2px;
	min-width: 17px;
	text-align: center;
	border-radius: 5px;-moz-border-radius: 5px;
	-moz-border-radius: 5px;
	font-size: 12px;
	margin-right: 2px;
	color: #000;
}

.sdkButton:hover {
	background: #555;
	background: -moz-linear-gradient(90deg, #555, #777);background: -webkit-gradient(linear, left bottom, left top, from(#555), to(#777));
	border-color: #CCF;
	color: #CCF;
}

.closeButton {
	background-color: red;
	background: -moz-linear-gradient(90deg, #555, #777);background: -webkit-gradient(linear, left bottom, left top, from(#555), to(#777));
	border-radius: 5px;-moz-border-radius: 5px;
	float: right;
}
